<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="base :: header"></th:block>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/todo.css}">


</head>
<body>

<div th:replace="base :: nav"></div>


<div class="container">
<div class="card">
<!--    <img src="/static/image/joh.png" class="card-img-top" alt="writer">-->
    <div th:each="message:${messages}" class="card-body">
        <h5 class="card-title">[[${message.title}]]</h5>
        <p class="card-text">[[${message.content}]]"</p>
        <p class="card-text">[[${message.user.firstName}]]"</p>
        <p class="card-text">[[${message.date}]]"</p>
        <p>
                <span th:if="${user_id == message.user.id}">
                    <a th:href="@{/update/{id}(id=${message.id})}">Update</a>
                    <a th:href="@{/delete/{id}(id=${message.id})}">Delete</a>
                </span>

            <a th:href="@{/detail/{id}(id=${message.id})}">Details</a>
        </p>
    </div>
</div>
</div>
<div th:replace="base :: footer"></div>
</body>
</html>